<div ng-controller="FileUploadController" class="container form-group">
    <br>
    <tabset>
        <tab ng-repeat="workspace in workspaces"
             heading="{{selectedName || 'DC'}}"
             active=workspace.active>

            <div ng-controller="FileUploadController">
                <!--<h4>selectedDcName:  {{selectedDcName[0].name}}</h4>-->
                <form name="form" ng-submit="postUpdate()">
                <div class="form-group">
                    <br>
                    <fieldset>
                        <legend><strong>Salesforce Opportunity</strong> </legend>
                        <div class="col-sm-6">
                            <!--<label for="opportunityId">Opportunity ID</label>-->
                            <!--<input id="opportunityId" name="opportunityId" type="text" placeholder="opportunity id" class="form-control" ng-model="opportunityId"/>-->
                            <label for="opportunityId">Opportunity ID</label>
                            <div id="opportunityId">
                                <isteven-multi-select
                                        input-model="opportunityIds"
                                        output-model="selectedOpportunity"
                                        button-label="icon name"
                                        item-label="icon name maker"
                                        tick-property="ticked"
                                        selection-mode="single"
                                        >
                                </isteven-multi-select>
                            </div>
                            <label for="opportunityName">Opportunity Name</label>
                            <input id="opportunityName" name="opportunityName" type="text" placeholder="opportunity name" class="form-control" ng-model="opportunityName"/>
                            <label for="accountName">Account Name</label>
                            <input id="accountName" name="accountName" type="text" placeholder="account name" class="form-control" required ng-model="accountName"/>

                            <br>
                        </div>

                        <div class="col-sm-6">
                            <!--<label for="dcName">Data Center Name</label>-->
                            <!--<input id="dcName" name="dcName" type="text" placeholder="data center name" class="form-control" ng-model="workspace.name"/>-->
                            <label for="dcName">Data Center Name</label>
                            <div id="dcName">
                                <isteven-multi-select
                                        input-model="dcNames"
                                        output-model="selectedDcName"
                                        button-label="icon name"
                                        item-label="icon name maker"
                                        tick-property="ticked"
                                        selection-mode="single"
                                        >
                                </isteven-multi-select>
                            </div>

                            <label for="dcCountry">Data Center Country</label>
                            <input id="dcCountry" name="dcCountry" type="text" class="form-control" ng-model="dcCountry"/>

                            <label for="dcSiteCode">Data Center Site Code</label>
                            <input id="dcSiteCode" name="dcSiteCode" type="text" class="form-control" placeholder="data center site code" required ng-model="dcSiteCode"/>
                            <label for="dcSku">Data Center SKU</label>
                            <input id="dcSku" name="dcSku" type="text" placeholder="data center sku" class="form-control" ng-model="dcSku"/>
                        </div>

                        <div>
                            <br>
                            <h4>kW Requirement for each contract year</h4>
                            <hr>
                        </div>
                        <div class="col-sm-1">
                        <label for="kwRequired_2016">2016</label>
                        <input id="kwRequired_2016" name="kwRequired_2016" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2016"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2017">2017</label>
                            <input id="kwRequired_2017" name="kwRequired_2017" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2017"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2018">2018</label>
                            <input id="kwRequired_2018" name="kwRequired_2018" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2018"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2019">2019</label>
                            <input id="kwRequired_2019" name="kwRequired_2019" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2019"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2020">2020</label>
                            <input id="kwRequired_2020" name="kwRequired_2020" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2020"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2021">2021</label>
                            <input id="kwRequired_2021" name="kwRequired_2021" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2021"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2022">2022</label>
                            <input id="kwRequired_2022" name="kwRequired_2022" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2022"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2023">2023</label>
                            <input id="kwRequired_2023" name="kwRequired_2023" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2023"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2024">2024</label>
                            <input id="kwRequired_2024" name="kwRequired_2024" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2024"/>
                        </div>
                        <div class="col-sm-1">
                            <label for="kwRequired_2025">2025</label>
                            <input id="kwRequired_2025" name="kwRequired_2025" type="text" placeholder="kW" class="form-control" required ng-model="kwRequired_2025"/>
                        </div>
                        <div class="col-sm-1">
                            <input type="submit" id="submit" value="Submit" />
                        </div>
                    </fieldset>

                </div>
                </form>
            </div>
        </tab>
        <tab select="addWorkspace()">
            <tab-heading> Add Data Center
                <i class="icon-plus-sign"></i>
            </tab-heading>
        </tab>
        <tab select="removeWorkspace()">
            <tab-heading> Remove Selected Data Center
                <i class="icon-plus-sign"></i>
            </tab-heading>
        </tab>
    </tabset>
    <br/>
</div>
